.seat{
  width: 40px;
  font-size: 12px;
  height: 40px;
  background-color: #cdcbcb;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.modal-content-10{
  --bs-modal-width: 1100px;
  user-select: none;
}

.seat.selected{
  background-color: #cbf5b4;
}

.seat-grid{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.gridWrapper{
  display: flex;
  justify-content: center;
}